<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_RollCallConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=DB_RollCall;Integrated Security=True;Pooling=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="RollCallService.RollCallService"
               behaviorConfiguration="metadataBehavior">
        <endpoint
          address="RollCallService"
          binding="basicHttpBinding"
          contract="RollCallService.IRollCallService"/>
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!--宿主程序可以负载多个服务，客户端调用RollCallService服务的地址：http://localhost:5616/RollCallService-->
            <add baseAddress="http://localhost:5616" />
            <add baseAddress="net.tcp://localhost:8010" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/> 
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>